@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-400;
}

.main-page {
  @apply bg-gradient-to-b from-white to-blue-200 min-h-[100vh];
}
